$font:'Ubuntu';
$header-font:'League Gothic';
$size:12pt;
$bottom-margin:1.25em;
$line-height:1.25em;

$color-link:rgba(#333,.95);//#5588aa;



$bg-color: #eaeaea;
$bg-color-light:#f9f9f9;


$color: #333;
$color-light:lighten($color,.2);

$border-color:darken($bg-color,.1);



